[Base]
url=https://github.com/GridTools/gt4py.git
branch=master
final=develop
upstream=git@github.com:VulcanClimateModeling/gt4py.git

[Jenkins Scripts]
# Permanent CI additions
url=git@github.com:VulcanClimateModeling/gt4py.git
branch=jenkins-scripts

[Regions Implementation]
# In review
url=https://github.com/jdahm/gt4py.git
branch=regions-gdp-backends

[Field Dimensions]
# In review
url=https://github.com/jdahm/gt4py.git
branch=lower-dimensional-support

[GridTools Stage Extents]
# Necessary hack for now, want to revisit removing this later
url=https://github.com/eddie-c-davis/gt4py.git
branch=gt_stage_extents

# Need to ensure this is consistent with the latest regions
# [CXX CUDA Backends]
# # VCM beta
# url=https://github.com/eddie-c-davis/gt4py.git
# branch=cxx_cuda_backends

[Fuse Numpy Loops]
# Draft PR
url=https://github.com/eddie-c-davis/gt4py.git
branch=numpy-fuse-kloops

[Fix NumericTuple]
url=https://github.com/jdahm/gt4py.git
branch=fix-origin-check
